ClienteFinanceiroConsole/Connected Services/FinanceiroService/FinanceiroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FinanceiroService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50756/FinanceiroService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50756/FinanceiroService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50756/FinanceiroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FinanceiroServiceWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFinanceiroService_GetPecaMaiorPrejuizo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPecaMaiorPrejuizo" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetPecaMaiorPrejuizo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPecaMaiorPrejuizoResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetCustoTotalProducao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustoTotalProducao" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetCustoTotalProducao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustoTotalProducaoResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetLucroTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLucroTotal" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetLucroTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLucroTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetPrejuizoTotalPorPeca_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrejuizoTotalPorPeca" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetPrejuizoTotalPorPeca_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrejuizoTotalPorPecaResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetDadosFinanceirosPorPeca_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDadosFinanceirosPorPeca" />
  </wsdl:message>
  <wsdl:message name="IFinanceiroService_GetDadosFinanceirosPorPeca_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDadosFinanceirosPorPecaResponse" />
  </wsdl:message>
  <wsdl:portType name="IFinanceiroService">
    <wsdl:operation name="GetPecaMaiorPrejuizo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiroService/GetPecaMaiorPrejuizo" message="tns:IFinanceiroService_GetPecaMaiorPrejuizo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiroService/GetPecaMaiorPrejuizoResponse" message="tns:IFinanceiroService_GetPecaMaiorPrejuizo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustoTotalProducao">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiroService/GetCustoTotalProducao" message="tns:IFinanceiroService_GetCustoTotalProducao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiroService/GetCustoTotalProducaoResponse" message="tns:IFinanceiroService_GetCustoTotalProducao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLucroTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiroService/GetLucroTotal" message="tns:IFinanceiroService_GetLucroTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiroService/GetLucroTotalResponse" message="tns:IFinanceiroService_GetLucroTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrejuizoTotalPorPeca">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiroService/GetPrejuizoTotalPorPeca" message="tns:IFinanceiroService_GetPrejuizoTotalPorPeca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiroService/GetPrejuizoTotalPorPecaResponse" message="tns:IFinanceiroService_GetPrejuizoTotalPorPeca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDadosFinanceirosPorPeca">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanceiroService/GetDadosFinanceirosPorPeca" message="tns:IFinanceiroService_GetDadosFinanceirosPorPeca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanceiroService/GetDadosFinanceirosPorPecaResponse" message="tns:IFinanceiroService_GetDadosFinanceirosPorPeca_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFinanceiroService" type="tns:IFinanceiroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPecaMaiorPrejuizo">
      <soap:operation soapAction="http://tempuri.org/IFinanceiroService/GetPecaMaiorPrejuizo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustoTotalProducao">
      <soap:operation soapAction="http://tempuri.org/IFinanceiroService/GetCustoTotalProducao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLucroTotal">
      <soap:operation soapAction="http://tempuri.org/IFinanceiroService/GetLucroTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrejuizoTotalPorPeca">
      <soap:operation soapAction="http://tempuri.org/IFinanceiroService/GetPrejuizoTotalPorPeca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDadosFinanceirosPorPeca">
      <soap:operation soapAction="http://tempuri.org/IFinanceiroService/GetDadosFinanceirosPorPeca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceiroService">
    <wsdl:port name="BasicHttpBinding_IFinanceiroService" binding="tns:BasicHttpBinding_IFinanceiroService">
      <soap:address location="http://localhost:50756/FinanceiroService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>